@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap; }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: "Roboto-Italic";
  src: url("../fonts/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed-Italic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }

/* 
@mixin variable {
  background: linear-gradient(135deg, #5ba4e5 0%, #7384fe 100%);
} 
*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  position: relative;
  padding: 0;
  margin: 0; }

body {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: #242121; }

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.title {
  font-family: "Raleway-SemiBold", sans-serif;
  font-weight: 600;
  position: relative;
  padding: 0;
  color: #01353e;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase; }
  .title::after {
    content: "/";
    font-size: 72px;
    color: #00b2a0; }

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  max-width: 100%;
  width: 100%; }
  .header__inner {
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative; }
  .header__logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-60%); }
  .header__nav {
    max-width: 715px;
    width: 100%;
    margin: 0 auto; }
  .header__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 24px; }
  .header__item {
    margin-right: 45px; }
    .header__item:nth-last-child(1) {
      margin-right: 0; }
  .header__link {
    display: inline-block;
    padding-bottom: 6px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: white; }
    .header__link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #00b2a0;
      transform: translateX(-100%);
      transition: transform 0.3s; }
    .header__link:hover::after, .header__link.active::after {
      transform: translateX(0); }

.preview {
  min-height: 100vh;
  max-height: fit-content;
  background-image: url(../img/preview-bg.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .preview::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(180deg, #01353e 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%); }
  .preview__inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .preview__title {
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    color: #0d302c;
    margin: 0; }
  .preview__text {
    font-size: 24px; }
  .preview__link {
    display: block;
    width: 20px;
    height: 69px;
    background-image: url(../img/preview-arrow-down.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%; }

.about {
  padding: 180px 0 200px; }
  .about__inner {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .about__text {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    max-width: 490px;
    width: 100%;
    margin: 0 0 30px; }
    .about__text:nth-last-child(1), .about__text:nth-last-child(2) {
      margin-bottom: 0; }

.advantages {
  padding: 200px 0;
  background-color: #f8f8f8; }
  .advantages__list {
    margin: 100px 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .advantages__item {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 350px;
    width: 100%; }
  .advantages__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 15px 0;
    height: 55px; }
    .advantages__title h3 {
      font-weight: normal;
      font-size: 24px;
      text-transform: uppercase;
      margin: 0 0 0 10px;
      max-width: 160px;
      width: 100%; }
  .advantages__text p {
    margin: 0; }
  .advantages__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .advantages__stat {
    margin-bottom: 10px; }
    .advantages__stat:nth-last-child(1) {
      margin-bottom: 0; }
  .advantages__num {
    font-size: 24px;
    margin-left: 10px; }
  .advantages__text, .advantages__desc, .advantages__main {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300; }
  .advantages__main {
    display: inline-block;
    max-width: 600px;
    width: 100%; }
    .advantages__main p {
      margin: 0 0 30px 0; }
      .advantages__main p:nth-last-child(1) {
        margin-bottom: 0; }

.promo {
  padding: 200px 0;
  position: relative;
  overflow: hidden; }
  .promo__title {
    justify-content: flex-start;
    margin-bottom: 100px; }
  .promo__text {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    max-width: 510px;
    width: 100%; }
    .promo__text p {
      padding: 0;
      margin: 0 0 30px 0; }
      .promo__text p:nth-last-child(1) {
        margin-bottom: 0; }
  .promo__img {
    position: absolute;
    top: 0;
    left: 50%; }
    .promo__img img {
      height: calc(100% - 200px); }

.gallery {
  padding: 0 0 200px; }
  .gallery__filters {
    margin: 100px 0 0;
    list-style: none;
    padding: 0;
    display: flex; }
  .gallery__filter {
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 20px;
    transition: color 0.3s;
    cursor: pointer; }
    .gallery__filter:nth-last-child(1) {
      margin-right: 0; }
    .gallery__filter:hover, .gallery__filter.active {
      color: #00b2a0; }
  .gallery__inner {
    width: calc(100% + 40px);
    margin: 50px -20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .gallery__item {
    display: flex;
    position: relative;
    margin: 0 20px 40px;
    cursor: pointer; }
    .gallery__item:nth-child(1) {
      grid-column: 1 / 3; }
    .gallery__item:nth-last-child(1) {
      grid-column: 3 / 5; }
    .gallery__item img {
      object-fit: cover;
      height: 280px; }
    .gallery__item::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.7);
      opacity: 0;
      transition: opacity 0.3s; }
    .gallery__item:hover::after {
      opacity: 1; }
  .gallery__more {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    padding: 23px 90px 24px;
    border: 1px solid #c4c4c4;
    margin: 10px auto 0;
    background-color: transparent;
    cursor: pointer;
    color: #242121;
    transition: all 0.3s; }
    .gallery__more:hover {
      color: white;
      border-color: #00b2a0;
      background-color: #00b2a0; }

.quote {
  background-color: #f8f8f8;
  padding: 80px 0 60px; }
  .quote__title {
    font-family: "Roboto-Italic", sans-serif;
    font-size: 36px;
    line-height: 1.1;
    text-align: center; }
  .quote__author {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    text-align: right;
    margin-right: 13%; }

.video {
  padding: 200px 0; }
  .video__img {
    width: 100%; }
  .video__stats {
    list-style: none;
    padding: 0;
    margin: 200px 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .video__stat {
    margin-right: 100px; }
    .video__stat:nth-last-child(1) {
      margin-right: 0; }
  .video__num {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #0d302c;
    margin-bottom: 5px;
    text-align: center; }
  .video__text {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
    text-align: center; }

.blog__slider {
  margin-top: 200px;
  color: white; }

.blog__item {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative; }
  .blog__item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7); }

.blog__desc {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10; }

.blog__title {
  font-size: 48px;
  max-width: 600px;
  width: 100%;
  text-transform: uppercase;
  line-height: 1.1; }

.blog__text {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  max-width: 600px;
  width: 100%; }

.blog .slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 80px; }

.blog .slick-dots li {
  margin-right: 15px; }
  .blog .slick-dots li:nth-last-child(1) {
    margin-right: 0; }

.blog .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100%;
  border: none;
  box-shadow: none;
  transition: background-color 0.3s;
  cursor: pointer; }
  .blog .slick-dots button:hover {
    background-color: #00b2a0; }

.blog .slick-active button {
  background-color: #00b2a0; }

.team {
  padding: 200px 0; }
