@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Italic.woff2") format("woff2"), url("../fonts/RobotoCondensed-Italic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: italic; }

html,
body {
  position: relative;
  margin: 0;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit; }

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font: inherit; }

p {
  margin: 0; }

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  color: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: white;
  font: 400 14px "Roboto", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: #242121; }

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }
  @media (max-width: 500px) {
    .container {
      padding: 0 5px; } }

.logo {
  display: inline-block;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 63px; }

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  position: relative;
  color: #01353e;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase; }
  .title::after {
    content: "/";
    font-size: 72px;
    color: #00b2a0; }
  @media (max-width: 1100px) {
    .title {
      font-size: 36px; }
      .title::after {
        font-size: 55px; } }
  @media (max-width: 768px) {
    .title {
      font-size: 32px; }
      .title::after {
        display: none; } }

.btn {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  padding: 21px 100px 22px;
  border: 1px solid #dadada;
  background-color: transparent;
  cursor: pointer;
  color: #242121;
  transition: all 0.3s; }
  .btn:hover {
    color: white;
    border-color: #00b2a0;
    background-color: #00b2a0; }
  @media (max-width: 768px) {
    .btn {
      font-size: 18px;
      padding: 15px 50px; } }

.layer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .layer.active {
    display: block; }

.header {
  position: absolute;
  left: 0;
  top: 50px;
  max-width: 100%;
  width: 100%;
  z-index: 2; }
  .header__logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-60%); }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative; }
  .header__list {
    display: flex;
    align-items: center;
    font-size: 24px; }
  .header__item:not(:last-child) {
    margin-right: 45px; }
  .header__link {
    display: inline-block;
    padding-bottom: 6px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: white; }
    .header__link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #00b2a0;
      transform: translateX(-110%);
      transition: transform 0.3s; }
    .header__link:hover::after {
      transform: translateX(0); }
  @media (max-width: 1100px) {
    .header__logo {
      position: relative;
      transform: translateY(0); }
    .header .burger {
      display: block; }
    .header__nav {
      position: static;
      justify-content: space-between; }
    .header__list {
      position: absolute;
      right: 0;
      top: -50px;
      background-color: white;
      max-width: 500px;
      width: 100%;
      height: 100vh;
      min-height: 550px;
      padding: 130px 0 65px;
      transform: translateX(100%);
      transition: transform 0.3s;
      flex-direction: column; }
      .header__list.active {
        transform: translateX(0); }
    .header__item:not(:last-child) {
      margin-right: 0; }
    .header__link {
      width: 100%;
      padding: 10px 0;
      text-align: center;
      color: #242121; }
      .header__link::after {
        display: none; } }
  @media (max-width: 768px) {
    .header {
      top: 20px; }
      .header__list {
        top: -20px;
        max-width: 100%; } }

.burger {
  display: none;
  height: 35px;
  width: 40px;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  z-index: 3;
  color: transparent; }
  .burger::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s; }
  .burger::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 90%;
    height: 3px;
    background-color: white;
    transition: all 0.3s; }
  .burger.active::after {
    top: 16px;
    background-color: #242121;
    transform: rotate(-45deg); }
  .burger.active::before {
    bottom: 16px;
    width: 100%;
    background-color: #242121;
    transform: rotate(45deg); }
  @media (max-width: 1100px) {
    .burger {
      display: block; } }

.hero {
  height: 100vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 180px; }
  .hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45%;
    background-image: linear-gradient(180deg, #01353e 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%); }
  .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .hero__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 1;
    color: #0d302c;
    max-width: 100%;
    width: 100%;
    text-align: center; }
  .hero__text {
    color: black;
    font-size: 24px; }
  .hero__link {
    display: block;
    width: 20px;
    height: 69px;
    background-image: url(../img/preview-arrow-down.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    color: transparent;
    font-size: 0; }
  @media (max-width: 1100px) {
    .hero {
      margin-bottom: 100px; } }
  @media (max-width: 768px) {
    .hero {
      margin-bottom: 100px; }
      .hero__title {
        font-size: 130px; }
      .hero__text {
        font-size: 18px; } }
  @media (max-width: 500px) {
    .hero__title {
      font-size: 90px; }
    .hero__text {
      font-size: 16px; } }

.about {
  margin-bottom: 200px; }
  .about__title {
    margin-bottom: 100px; }
  .about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 120px;
    font-weight: 300; }
  @media (max-width: 1100px) {
    .about {
      margin-bottom: 100px; }
      .about__inner {
        grid-column-gap: 30px; } }
  @media (max-width: 768px) {
    .about {
      margin-bottom: 100px; }
      .about__inner {
        grid-template-columns: 1fr; }
      .about__title {
        margin-bottom: 50px; } }

.advantages {
  padding: 200px 0;
  background-color: #f8f8f8; }
  .advantages__title {
    margin-bottom: 100px; }
  .advantages__list {
    margin: 0 -10px 100px;
    width: calc(100% + 20px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .advantages__item {
    padding: 0;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 350px;
    width: 100%; }
    .advantages__item:nth-child(1) .advantages__subtitle::before {
      width: 55px;
      background-image: url(../img/advantages-icon-1.svg); }
    .advantages__item:nth-child(2) .advantages__subtitle::before {
      background-image: url(../img/advantages-icon-2.svg); }
    .advantages__item:nth-child(3) .advantages__subtitle::before {
      background-image: url(../img/advantages-icon-3.svg); }
  .advantages__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    height: 55px;
    padding-left: 60px;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 220px;
    width: 100%;
    position: relative; }
    .advantages__subtitle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .advantages__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300; }
  .advantages__stats {
    margin-right: 10px; }
  .advantages__stat {
    padding-bottom: 20px;
    position: relative; }
    .advantages__stat::before {
      content: "";
      height: 15px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      left: 0;
      top: 10px; }
    .advantages__stat:not(:last-child) {
      margin-bottom: 10px; }
    .advantages__stat:nth-child(1) {
      padding-left: 210px; }
      .advantages__stat:nth-child(1)::before {
        width: 200px;
        background-image: url(../img/stats-line-1.svg); }
    .advantages__stat:nth-child(2) {
      padding-left: 260px; }
      .advantages__stat:nth-child(2)::before {
        width: 250px;
        background-image: url(../img/stats-line-2.svg); }
    .advantages__stat:nth-child(3) {
      padding-left: 300px; }
      .advantages__stat:nth-child(3)::before {
        width: 290px;
        background-image: url(../img/stats-line-3.svg); }
  .advantages__num {
    font-size: 24px;
    margin-left: 10px; }
  .advantages__desc {
    position: absolute;
    left: 0;
    bottom: 0; }
  .advantages__main {
    display: inline-block;
    max-width: 600px;
    width: 100%; }
    .advantages__main p:not(:last-child) {
      margin-bottom: 30px; }
  @media (max-width: 1100px) {
    .advantages {
      padding: 100px 0; }
      .advantages__list {
        justify-content: center;
        flex-wrap: wrap; }
      .advantages__item:not(:last-child) {
        margin-bottom: 20px; } }
  @media (max-width: 768px) {
    .advantages__title {
      margin-bottom: 50px; }
    .advantages__list {
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 50px; }
    .advantages__item:not(:last-child) {
      margin-bottom: 20px; }
    .advantages__inner {
      flex-wrap: wrap; }
    .advantages__stats {
      margin-bottom: 50px; } }
  @media (max-width: 500px) {
    .advantages__subtitle {
      margin: 0 0 15px; }
    .advantages__stat {
      padding-bottom: 20px;
      position: relative; }
      .advantages__stat::before {
        height: 12px; }
      .advantages__stat:nth-child(1) {
        padding-left: 170px; }
        .advantages__stat:nth-child(1)::before {
          width: 160px; }
      .advantages__stat:nth-child(2) {
        padding-left: 210px; }
        .advantages__stat:nth-child(2)::before {
          width: 200px; }
      .advantages__stat:nth-child(3) {
        padding-left: 250px; }
        .advantages__stat:nth-child(3)::before {
          width: 240px; } }

.promo {
  padding: 200px 0 100px;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden; }
  .promo__inner {
    position: relative;
    z-index: 2; }
  .promo__title {
    justify-content: flex-start;
    margin-bottom: 100px; }
  .promo__text {
    font-weight: 300;
    max-width: 510px;
    width: 100%; }
    .promo__text p:not(:last-child) {
      margin-bottom: 30px; }
  .promo__img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%; }
    .promo__img img {
      height: 100%; }
  @media (max-width: 1100px) {
    .promo {
      padding: 100px 0 50px;
      margin-bottom: 50px; }
      .promo__title {
        margin-bottom: 30px; }
      .promo__img {
        opacity: 0.2; } }
  @media (max-width: 500px) {
    .promo__img {
      left: 0; } }

.gallery {
  margin-bottom: 200px; }
  .gallery__title {
    margin-bottom: 100px; }
  .gallery__filters {
    display: flex; }
  .gallery__filter:not(:last-child) {
    margin-right: 20px; }
  .gallery__btn {
    text-transform: uppercase;
    font-size: 24px;
    transition: color 0.3s;
    cursor: pointer; }
    .gallery__btn:hover, .gallery__btn.active {
      color: #00b2a0; }
  .gallery__inner {
    width: 100%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px; }
  .gallery__item {
    display: flex;
    position: relative;
    cursor: pointer; }
    .gallery__item:nth-child(1) {
      grid-column: 1 / 3; }
    .gallery__item:nth-last-child(1) {
      grid-column: 3 / 5; }
    .gallery__item img {
      object-fit: cover;
      height: 280px;
      width: 100%; }
    .gallery__item::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.7);
      opacity: 0;
      transition: opacity 0.3s; }
    .gallery__item:hover::after {
      opacity: 1; }
    .gallery__item.hidden {
      display: none; }
  .gallery__more {
    margin: 10px auto 0; }
  .gallery__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    max-height: 500px;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center; }
    .gallery__popup img {
      width: auto;
      height: auto; }
  .gallery__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 0; }
    .gallery__close::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background-color: #00b2a0;
      transform: rotate(-45deg); }
    .gallery__close::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background-color: #00b2a0;
      transform: rotate(45deg); }
  @media (max-width: 1100px) {
    .gallery {
      margin-bottom: 100px; }
      .gallery__title {
        margin-bottom: 50px; }
      .gallery__filters {
        margin-top: 30px;
        flex-wrap: wrap; }
      .gallery__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px; }
      .gallery__item:nth-last-child(1) {
        grid-column: 1 / 3; } }

.quote {
  background-color: #f8f8f8;
  padding: 80px 0 60px;
  margin-bottom: 200px; }
  .quote__text {
    display: block;
    font-style: italic;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    quotes: "«" "»"; }
  .quote__author {
    font-weight: 300;
    text-align: right;
    display: block; }
  @media (max-width: 1100px) {
    .quote {
      margin-bottom: 100px; } }
  @media (max-width: 500px) {
    .quote__text {
      font-size: 32px; }
    .quote__author {
      text-align: center; } }

.video {
  margin-bottom: 200px;
  position: relative; }
  .video__inner {
    position: relative;
    min-height: 350px;
    height: 60vh; }
  .video__img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
  .video__play {
    font-size: 0;
    color: transparent;
    border: 50px solid transparent;
    border-left: 80px solid #373a39;
    border-right: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .video__popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none; }
    .video__popup.active {
      display: block; }
  @media (max-width: 1100px) {
    .video {
      margin-bottom: 100px; } }
  @media (max-width: 768px) {
    .video__play {
      border-width: 25px;
      border-left-width: 40px; } }

.stats {
  margin-bottom: 200px; }
  .stats__list {
    width: calc(100% + 20px);
    margin: 0 -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
  .stats__item {
    margin: 0 10px; }
  .stats__num {
    font-weight: 700;
    font-size: 64px;
    color: #0d302c;
    margin-bottom: 5px;
    text-align: center; }
  .stats__text {
    font-weight: 300;
    text-align: center; }
  @media (max-width: 1100px) {
    .stats {
      margin-bottom: 100px; } }
  @media (max-width: 768px) {
    .stats__item {
      width: calc(50% - 20px); }
    .stats__num {
      font-size: 48px; } }

.blog {
  margin-bottom: 200px; }
  .blog__title {
    margin-bottom: 200px; }
  .blog__slider {
    color: white; }
  .blog__item {
    min-height: 350px;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative; }
    .blog__item::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.7); }
  .blog__desc {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10; }
  .blog__subtitle {
    font-size: 48px;
    max-width: 600px;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 5px; }
  .blog__text {
    font-weight: 300;
    max-width: 600px;
    width: 100%; }
  .blog .slick-dots {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 80px; }
  .blog .slick-dots li:not(:last-child) {
    margin-right: 15px; }
  .blog .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    transition: background-color 0.3s;
    cursor: pointer; }
    .blog .slick-dots button:hover {
      background-color: #00b2a0; }
  .blog .slick-active button {
    background-color: #00b2a0; }
  @media (max-width: 1100px) {
    .blog {
      margin-bottom: 100px; }
      .blog__title {
        margin-bottom: 50px; } }
  @media (max-width: 768px) {
    .blog__subtitle {
      font-size: 36px;
      max-width: 550px; }
    .blog__text {
      max-width: 550px; }
    .blog .slick-dots button {
      width: 10px;
      height: 10px; }
    .blog .slick-dots {
      bottom: 30px; } }
  @media (max-width: 500px) {
    .blog__subtitle {
      font-size: 24px; } }

.team {
  margin-bottom: 200px; }
  .team__title {
    margin-bottom: 200px; }
  .team__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 20px);
    margin: 0 -10px; }
  .team__instructor {
    text-align: center;
    max-width: 330px;
    width: 100%;
    margin: 0 10px; }
  .team__img {
    width: 100%;
    height: 450px;
    object-fit: cover; }
  .team__name {
    margin: 25px 0 5px;
    font-weight: 700;
    font-size: 18px; }
  @media (max-width: 1100px) {
    .team {
      margin-bottom: 100px; }
      .team__title {
        margin-bottom: 50px; } }
  @media (max-width: 768px) {
    .team__inner {
      flex-wrap: wrap;
      justify-content: center; }
    .team__instructor:not(:last-child) {
      margin-bottom: 20px; } }

.services {
  padding: 200px 0;
  margin-bottom: 200px;
  background-color: #f8f8f8; }
  .services__title {
    margin-bottom: 200px; }
  .services__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: calc(100% + 10px);
    margin: 0 -5px; }
  .services__item {
    position: relative;
    padding: 45px 30px;
    background-color: white;
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px; }
  .services__subtitle {
    font-size: 36px;
    color: #0d302c;
    margin-bottom: 60px;
    text-align: center; }
  .services__list {
    margin-bottom: 60px; }
  .services__advantage {
    margin-bottom: 20px; }
    .services__advantage:nth-last-child(1) {
      margin-bottom: 0; }
  .services__price {
    margin-top: auto;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    color: #0d302c; }
    .services__price span {
      font-size: 36px;
      margin-right: 5px; }
  @media (max-width: 1100px) {
    .services {
      padding: 100px 0;
      margin-bottom: 100px; }
      .services__title {
        margin-bottom: 100px; }
      .services__inner {
        flex-wrap: wrap;
        justify-content: center; }
      .services__item:not(:last-child) {
        margin-bottom: 10px; } }
  @media (max-width: 768px) {
    .services__subtitle {
      margin-bottom: 30px; }
    .services__item {
      padding: 25px 10px; } }

.map {
  position: relative;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  height: 60vh;
  overflow: hidden; }
  .map__marker {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    width: 57px;
    height: 70px;
    background-image: url(../img/map-marker.svg); }
  .map__img {
    height: 100%; }
  @media (max-width: 1100px) {
    .map {
      margin-bottom: 100px; } }

.feedback {
  position: relative;
  margin-bottom: 200px; }
  .feedback__title {
    margin-bottom: 200px; }
  .feedback__inner {
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .feedback__form {
    max-width: 570px;
    width: 100%;
    margin-right: 15px;
    font-size: 18px; }
  .feedback__label {
    visibility: hidden;
    position: absolute; }
  .feedback__input, .feedback__textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #dadada;
    padding: 15px 5px 13px;
    color: #242121;
    margin-bottom: 15px;
    background-color: transparent; }
    .feedback__input::placeholder, .feedback__textarea::placeholder {
      color: #00b2a0; }
    .feedback__input:focus, .feedback__textarea:focus {
      outline: 2px solid #00b2a0;
      border-bottom-color: white; }
  .feedback__textarea {
    margin: 35px 0 75px;
    min-height: 155px;
    height: fit-content;
    resize: none; }
    .feedback__textarea::placeholder {
      max-width: 260px;
      width: 100%; }
  .feedback__contacts {
    background-color: #f8f8f8;
    padding: 50px;
    max-width: 600px;
    width: 100%;
    font-size: 24px;
    color: #242121; }
  .feedback__text {
    font-style: normal; }
    .feedback__text:first-child {
      margin-bottom: 65px; }
    .feedback__text--address {
      max-width: 330px;
      width: 100%; }
  .feedback__phone {
    display: block;
    text-decoration: none;
    margin-bottom: 65px;
    font-style: normal;
    transition: color 0.3s; }
    .feedback__phone:hover {
      color: #00b2a0; }
  .feedback__social {
    margin: 0 -5px;
    width: calc(100% + 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  .feedback__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #242121;
    font-size: 24px;
    padding: 0 5px;
    transition: color 0.3s; }
    .feedback__link:hover {
      color: #00b2a0; }
  @media (max-width: 1100px) {
    .feedback {
      margin-bottom: 100px; }
      .feedback__title {
        margin-bottom: 50px; }
      .feedback__inner {
        margin-bottom: 100px; } }
  @media (max-width: 768px) {
    .feedback {
      margin-bottom: 0; }
      .feedback__inner {
        margin: 20px 0 0;
        flex-direction: column; }
      .feedback__contacts {
        max-width: calc(100% + 30px);
        width: calc(100% + 30px);
        margin: 0 -15px;
        padding: 15px;
        background-color: #00b2a0;
        color: white;
        text-align: center; }
      .feedback__phone {
        color: white; }
      .feedback__text {
        font-size: 14px; }
        .feedback__text:first-child {
          margin-bottom: 30px; }
        .feedback__text--address {
          margin: 0 auto; }
      .feedback__form {
        max-width: 100%;
        margin-bottom: 100px;
        margin-right: 0; }
      .feedback__social {
        position: absolute;
        left: 0;
        right: 0;
        justify-content: flex-start;
        margin: 0;
        width: 100%;
        bottom: 265px; } }

.footer {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b2a0; }
  @media (max-width: 768px) {
    .footer {
      padding: 30px 0; } }
