$green: #00b2a0;
$title: #01353e;
$text: #242121;
$grey: #f8f8f8;
$dark-grey: #373a39;
$dark-green: #0d302c;
$border: #dadada;

$r-xl: 1100;
$r-md: 768;
$r-sm: 500;

@mixin r($width) {
  @media (max-width: $width + "px") {
    @content;
  }
}
