@import "fonts";
@import "reset";
@import "vars";
@import "global";

.header {
  position: absolute;
  left: 0;
  top: 50px;
  max-width: 100%;
  width: 100%;
  z-index: 2;

  &__logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  &__list {
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    display: inline-block;
    padding-bottom: 6px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: white;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $green;
      transform: translateX(-110%);
      transition: transform 0.3s;
    }
    &:hover::after {
      transform: translateX(0);
    }
  }

  @include r($r-xl) {
    &__logo {
      position: relative;
      transform: translateY(0);
    }

    .burger {
      display: block;
    }

    &__nav {
      position: static;
      justify-content: space-between;
    }

    &__list {
      position: absolute;
      right: 0;
      top: -50px;
      background-color: white;
      max-width: 500px;
      width: 100%;
      height: 100vh;
      min-height: 550px;
      padding: 130px 0 65px;
      transform: translateX(100%);
      transition: transform 0.3s;
      flex-direction: column;
      &.active {
        transform: translateX(0);
      }
    }

    &__item:not(:last-child) {
      margin-right: 0;
    }

    &__link {
      width: 100%;
      padding: 10px 0;
      text-align: center;
      color: $text;
      &::after {
        display: none;
      }
    }
  }
  @include r($r-md) {
    top: 20px;
    &__list {
      top: -20px;
      max-width: 100%;
    }
  }
}

.burger {
  display: none;
  height: 35px;
  width: 40px;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  z-index: 3;
  color: transparent;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 90%;
    height: 3px;
    background-color: white;
    transition: all 0.3s;
  }
  &.active {
    &::after {
      top: 16px;
      background-color: $text;
      transform: rotate(-45deg);
    }
    &::before {
      bottom: 16px;
      width: 100%;
      background-color: $text;
      transform: rotate(45deg);
    }
  }
  @include r($r-xl) {
    display: block;
  }
}

.hero {
  height: 100vh;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 180px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45%;
    background-image: linear-gradient(180deg, #01353e 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 1;
    color: $dark-green;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  &__text {
    color: black;
    font-size: 24px;
  }

  &__link {
    display: block;
    width: 20px;
    height: 69px;
    background-image: url(../img/preview-arrow-down.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    color: transparent;
    font-size: 0;
  }

  @include r($r-xl) {
    margin-bottom: 100px;
  }

  @include r($r-md) {
    margin-bottom: 100px;
    &__title {
      font-size: 130px;
    }
    &__text {
      font-size: 18px;
    }
  }

  @include r($r-sm) {
    &__title {
      font-size: 90px;
    }
    &__text {
      font-size: 16px;
    }
  }
}

.about {
  margin-bottom: 200px;

  &__title {
    margin-bottom: 100px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 120px;
    font-weight: 300;
  }

  @include r($r-xl) {
    margin-bottom: 100px;
    &__inner {
      grid-column-gap: 30px;
    }
  }

  @include r($r-md) {
    margin-bottom: 100px;
    &__inner {
      grid-template-columns: 1fr;
    }
    &__title {
      margin-bottom: 50px;
    }
  }
}

.advantages {
  padding: 200px 0;
  background-color: $grey;

  &__title {
    margin-bottom: 100px;
  }

  &__list {
    margin: 0 -10px 100px;
    width: calc(100% + 20px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    padding: 0;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 350px;
    width: 100%;
    &:nth-child(1) .advantages__subtitle::before {
      width: 55px;
      background-image: url(../img/advantages-icon-1.svg);
    }
    &:nth-child(2) .advantages__subtitle::before {
      background-image: url(../img/advantages-icon-2.svg);
    }
    &:nth-child(3) .advantages__subtitle::before {
      background-image: url(../img/advantages-icon-3.svg);
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    height: 55px;
    padding-left: 60px;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 220px;
    width: 100%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
  }

  &__stats {
    margin-right: 10px;
  }

  &__stat {
    padding-bottom: 20px;

    position: relative;
    &::before {
      content: "";
      height: 15px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      left: 0;
      top: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:nth-child(1) {
      padding-left: 210px;
      &::before {
        width: 200px;
        background-image: url(../img/stats-line-1.svg);
      }
    }
    &:nth-child(2) {
      padding-left: 260px;
      &::before {
        width: 250px;
        background-image: url(../img/stats-line-2.svg);
      }
    }
    &:nth-child(3) {
      padding-left: 300px;
      &::before {
        width: 290px;
        background-image: url(../img/stats-line-3.svg);
      }
    }
  }

  &__num {
    font-size: 24px;
    margin-left: 10px;
  }

  &__desc {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__main {
    display: inline-block;
    max-width: 600px;
    width: 100%;

    p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include r($r-xl) {
    padding: 100px 0;
    &__list {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @include r($r-md) {
    &__title {
      margin-bottom: 50px;
    }
    &__list {
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__inner {
      flex-wrap: wrap;
    }
    &__stats {
      margin-bottom: 50px;
    }
  }
  @include r($r-sm) {
    &__subtitle {
      margin: 0 0 15px;
    }
    &__stat {
      padding-bottom: 20px;
      position: relative;
      &::before {
        height: 12px;
      }
      &:nth-child(1) {
        padding-left: 170px;
        &::before {
          width: 160px;
        }
      }
      &:nth-child(2) {
        padding-left: 210px;
        &::before {
          width: 200px;
        }
      }
      &:nth-child(3) {
        padding-left: 250px;
        &::before {
          width: 240px;
        }
      }
    }
  }
}

.promo {
  padding: 200px 0 100px;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__title {
    justify-content: flex-start;
    margin-bottom: 100px;
  }

  &__text {
    font-weight: 300;
    max-width: 510px;
    width: 100%;
    p:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    img {
      height: 100%;
    }
  }

  @include r($r-xl) {
    padding: 100px 0 50px;
    margin-bottom: 50px;

    &__title {
      margin-bottom: 30px;
    }

    &__img {
      opacity: 0.2;
    }
  }

  @include r($r-sm) {
    &__img {
      left: 0;
    }
  }
}

.gallery {
  margin-bottom: 200px;

  &__title {
    margin-bottom: 100px;
  }

  &__filters {
    display: flex;
  }

  &__filter:not(:last-child) {
    margin-right: 20px;
  }

  &__btn {
    text-transform: uppercase;
    font-size: 24px;
    transition: color 0.3s;
    cursor: pointer;

    &:hover,
    &.active {
      color: $green;
    }
  }

  &__inner {
    width: 100%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }

  &__item {
    display: flex;
    position: relative;
    cursor: pointer;

    &:nth-child(1) {
      grid-column: 1 / 3;
    }

    &:nth-last-child(1) {
      grid-column: 3 / 5;
    }

    img {
      object-fit: cover;
      height: 280px;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.7);
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover::after {
      opacity: 1;
    }

    &.hidden {
      display: none;
    }
  }
  &__more {
    margin: 10px auto 0;
  }

  &__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    max-height: 500px;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    img {
      width: auto;
      height: auto;
    }
  }
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 0;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background-color: $green;
      transform: rotate(-45deg);
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      background-color: $green;
      transform: rotate(45deg);
    }
  }

  @include r($r-xl) {
    margin-bottom: 100px;
    &__title {
      margin-bottom: 50px;
    }
    &__filters {
      margin-top: 30px;
      flex-wrap: wrap;
    }
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
    &__item:nth-last-child(1) {
      grid-column: 1 / 3;
    }
  }
}

.quote {
  background-color: $grey;
  padding: 80px 0 60px;
  margin-bottom: 200px;

  &__text {
    display: block;
    font-style: italic;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    quotes: "«" "»";
  }

  &__author {
    font-weight: 300;
    text-align: right;
    display: block;
  }

  @include r($r-xl) {
    margin-bottom: 100px;
  }

  @include r($r-sm) {
    &__text {
      font-size: 32px;
    }
    &__author {
      text-align: center;
    }
  }
}

.video {
  margin-bottom: 200px;
  position: relative;

  &__inner {
    position: relative;
    min-height: 350px;
    height: 60vh;
  }

  &__img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  &__play {
    font-size: 0;
    color: transparent;
    border: 50px solid transparent;
    border-left: 80px solid $dark-grey;
    border-right: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    &.active {
      display: block;
    }
  }
  @include r($r-xl) {
    margin-bottom: 100px;
  }

  @include r($r-md) {
    &__play {
      border-width: 25px;
      border-left-width: 40px;
    }
  }
}

.stats {
  margin-bottom: 200px;

  &__list {
    width: calc(100% + 20px);
    margin: 0 -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 10px;
  }

  &__num {
    font-weight: 700;
    font-size: 64px;
    color: $dark-green;
    margin-bottom: 5px;
    text-align: center;
  }

  &__text {
    font-weight: 300;
    text-align: center;
  }

  @include r($r-xl) {
    margin-bottom: 100px;
  }

  @include r($r-md) {
    &__item {
      width: calc(50% - 20px);
    }
    &__num {
      font-size: 48px;
    }
  }
}

.blog {
  margin-bottom: 200px;
  &__title {
    margin-bottom: 200px;
  }
  &__slider {
    color: white;
  }

  &__item {
    min-height: 350px;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(51, 51, 51, 0.7);
    }
  }

  &__desc {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
  }

  &__subtitle {
    font-size: 48px;
    max-width: 600px;
    width: 100%;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 5px;
  }

  &__text {
    font-weight: 300;
    max-width: 600px;
    width: 100%;
  }

  .slick-dots {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 80px;
  }

  .slick-dots li:not(:last-child) {
    margin-right: 15px;
  }

  .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    transition: background-color 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $green;
    }
  }

  .slick-active button {
    background-color: $green;
  }

  @include r($r-xl) {
    margin-bottom: 100px;
    &__title {
      margin-bottom: 50px;
    }
  }

  @include r($r-md) {
    &__subtitle {
      font-size: 36px;
      max-width: 550px;
    }
    &__text {
      max-width: 550px;
    }
    .slick-dots button {
      width: 10px;
      height: 10px;
    }
    .slick-dots {
      bottom: 30px;
    }
  }

  @include r($r-sm) {
    &__subtitle {
      font-size: 24px;
    }
  }
}

.team {
  margin-bottom: 200px;

  &__title {
    margin-bottom: 200px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 20px);
    margin: 0 -10px;
  }

  &__instructor {
    text-align: center;
    max-width: 330px;
    width: 100%;
    margin: 0 10px;
  }

  &__img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }

  &__name {
    margin: 25px 0 5px;
    font-weight: 700;
    font-size: 18px;
  }

  @include r($r-xl) {
    margin-bottom: 100px;
    &__title {
      margin-bottom: 50px;
    }
  }

  @include r($r-md) {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__instructor:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.services {
  padding: 200px 0;
  margin-bottom: 200px;
  background-color: $grey;

  &__title {
    margin-bottom: 200px;
  }

  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: calc(100% + 10px);
    margin: 0 -5px;
  }

  &__item {
    position: relative;
    padding: 45px 30px;
    background-color: white;
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
  }

  &__subtitle {
    font-size: 36px;
    color: $dark-green;
    margin-bottom: 60px;
    text-align: center;
  }

  &__list {
    margin-bottom: 60px;
  }

  &__advantage {
    margin-bottom: 20px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__price {
    margin-top: auto;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    color: $dark-green;
    span {
      font-size: 36px;
      margin-right: 5px;
    }
  }

  @include r($r-xl) {
    padding: 100px 0;
    margin-bottom: 100px;
    &__title {
      margin-bottom: 100px;
    }
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include r($r-md) {
    &__subtitle {
      margin-bottom: 30px;
    }
    &__item {
      padding: 25px 10px;
    }
  }
}

.map {
  position: relative;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  height: 60vh;
  overflow: hidden;
  &__marker {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    width: 57px;
    height: 70px;
    background-image: url(../img/map-marker.svg);
  }
  &__img {
    height: 100%;
  }

  @include r($r-xl) {
    margin-bottom: 100px;
  }
}

.feedback {
  position: relative;
  margin-bottom: 200px;

  &__title {
    margin-bottom: 200px;
  }

  &__inner {
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form {
    max-width: 570px;
    width: 100%;
    margin-right: 15px;
    font-size: 18px;
  }

  &__label {
    visibility: hidden;
    position: absolute;
  }

  &__input,
  &__textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid $border;
    padding: 15px 5px 13px;
    color: $text;
    margin-bottom: 15px;
    background-color: transparent;
    &::placeholder {
      color: $green;
    }
    &:focus {
      outline: 2px solid $green;
      border-bottom-color: white;
    }
  }

  &__textarea {
    margin: 35px 0 75px;
    min-height: 155px;
    height: fit-content;
    resize: none;
    &::placeholder {
      max-width: 260px;
      width: 100%;
    }
  }

  &__contacts {
    background-color: $grey;
    padding: 50px;
    max-width: 600px;
    width: 100%;
    font-size: 24px;
    color: $text;
  }

  &__text {
    font-style: normal;
    &:first-child {
      margin-bottom: 65px;
    }
    &--address {
      max-width: 330px;
      width: 100%;
    }
  }

  &__phone {
    display: block;
    text-decoration: none;
    margin-bottom: 65px;
    font-style: normal;
    transition: color 0.3s;
    &:hover {
      color: $green;
    }
  }

  &__social {
    margin: 0 -5px;
    width: calc(100% + 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $text;
    font-size: 24px;
    padding: 0 5px;
    transition: color 0.3s;
    &:hover {
      color: $green;
    }
  }

  @include r($r-xl) {
    margin-bottom: 100px;
    &__title {
      margin-bottom: 50px;
    }
    &__inner {
      margin-bottom: 100px;
    }
  }

  @include r($r-md) {
    margin-bottom: 0;
    &__inner {
      margin: 20px 0 0;
      flex-direction: column;
    }

    &__contacts {
      max-width: calc(100% + 30px);
      width: calc(100% + 30px);
      margin: 0 -15px;
      padding: 15px;
      background-color: $green;
      color: white;
      text-align: center;
    }

    &__phone {
      color: white;
    }

    &__text {
      font-size: 14px;
      &:first-child {
        margin-bottom: 30px;
      }
      &--address {
        margin: 0 auto;
      }
    }

    &__form {
      max-width: 100%;
      margin-bottom: 100px;
      margin-right: 0;
    }

    &__social {
      position: absolute;
      left: 0;
      right: 0;
      justify-content: flex-start;
      margin: 0;
      width: 100%;
      bottom: 265px;
    }
  }
}

.footer {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green;
  @include r($r-md) {
    padding: 30px 0;
  }
}
